@import '../../styles/colors';

a.h1.profile {
	font-size: 30px;
	font-weight: 800;
	font-family: 'Montserrat Alternates', sans-serif;
	text-transform: lowercase;
	color: $color-white;
	letter-spacing: -0.015em;
}

.bg-purple {
	background: $primary;
}

.page-title {
	font-size: 30px;
	color: $primary;
	letter-spacing: -0.015em;

	@media (min-width: 576px) {
		font-size: 48px;
	}
}

.card-title {
	font-weight: 700;
}
