/* RGB Palette */
$color-white: rgba(255, 255, 255, 1);
$color-light-grey: rgba(225, 226, 227, 1);
$info: rgba(180, 159, 220, 1);
$warning: rgba(224, 202, 60, 1);
$secondary: rgba(8, 126, 139, 1);
$primary: rgba(70, 54, 102, 1);
$color-dark-purple: rgba(38, 17, 50, 1);
$dark: rgba(20, 21, 22, 1);
$color-black: rgba(0, 0, 0, 1);
/* Transparency Palette */
$color-white-transparent: rgba(255, 255, 255, 0.7);
$color-dark-purple-transparent: rgba(38, 17, 50, 0.7);
$color-dark-grey-transparent: rgba(20, 21, 22, 0.7);
$color-black-transparent: rgba(0, 0, 0, 0.7);
