/* RGB Palette */
$color-white: rgba(255, 255, 255, 1);
$color-light-grey: rgba(225, 226, 227, 1);
$color-blue: rgba(137, 232, 232, 1);
$color-yellow: rgba(224, 202, 60, 1);
$color-green: rgba(8, 126, 139, 1);
$color-purple: rgba(62, 47, 91, 1);
$color-dark-purple: rgba(38, 17, 50, 1);
$color-dark-grey: rgba(20, 21, 22, 1);
$color-black: rgba(0, 0, 0, 1);
